# Auto detect text files and perform LF normalization
* text=auto
*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true
# 写在这应该不会有人注意到吧....那就发一下牢骚
#
# 人如果没有梦想
# 和咸鱼有什么区别
# 我也曾认为这是至理名言
# 不愿去想没有梦想的区别
#
# 若我没有梦想
# 我便能坦然接受现实状况
# 以更稳妥挣钱为择业目标
# 而不在意我是否发自内心
#
# 若我没有梦想
# 我便能自然接受父母期望
# 接受考公或者其他的目光
# 而不会不甘于他们的好意
#
# 若我没有梦想
# 我便能心安理得得过且过
# 反正四年后都是同级工科
# 为何要超出课堂学那么多
#
# 若我没有梦想
# 我便不会在这里宣泄自我
# 抱怨自己生活中的不如意
# 动漫游戏都足够让我消磨
#
# 可惜，我有梦想
# 每天的生活都要有所收获
# 没有梦想生活也许照样过
# 但果然还是觉得少些什么
